@import "reset";
@import "default";

body {
  background-color: #ebebeb;
  font-family: 'Roboto', sans-serif;
}

//Grab scroll to X start

scroll-view {
	width: 100%;
	height: auto;
	padding: 0 2rem;
	margin: 0 auto;
}

.scroll {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  width: 100%;
  height: auto;
  padding: 1rem 0;
  margin: 2.5rem 0;
  overflow: scroll hidden;
  scroll-snap-type: x mandatory;
  scroll-padding: 0px 1.25rem;
  scrollbar-width: none;
  &.active {
    cursor: grab;
  }
  &::-webkit-scrollbar {
    display: none;
  }
}

.block {
  width: 400px;
  height: 400px;
  background: #fff;
  border-radius: 4px;
  margin-right: 15px;
  margin-left: 15px;
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: grabbing;
  border: 1px solid #e8e8e8;
}
